h2{
color: rgb(255, 0, 0);    
}
#asir {
color: rgb(255, 0, 0);
text-shadow: 5px 5px 4px white;}
body {
background-color: rgb(248, 90, 90);
font-family: 'Architects Daughter', cursive;
text-shadow: 4px 4px 3px white
}
#arriba {
text-align: center;
}
#navegador{ 
background-color: rgb(255, 233, 31);
border: 10px inset rgb(48, 204, 183);
}